@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

$very-dark-cyan: hsl(183, 100%, 15%);
$darker-grayish-cyan: hsl(186, 14%, 43%);
$dark-grayish-cyan: hsl(184, 14%, 56%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$lighter-grayish-cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);
$strong-cyan: hsl(172, 67%, 45%);

body {
  font-family: "Space Mono", monospace;
  margin: 0;
  background-color: $light-grayish-cyan;
}
header {
  padding: 11% 0 40px;
  text-align: center;
}
main {
  background-color: $white;
  padding: 25px;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
h3 {
  color: $darker-grayish-cyan;
  font-weight: 700;
}
section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.input-div {
  position: relative;
}
.input-div > p {
  font-size: 24px;
  color: $dark-grayish-cyan;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  & > i {
    font-size: 18px;
  }
}
input[type="number"] {
  all: unset;
  width: calc(100% - 55px);
  border-radius: 5px;
  text-align: right;
  padding: 10px 15px;
  padding-left: 40px;
  font-size: 24px;
  color: $very-dark-cyan;
  font-weight: 700;
  background-color: $lighter-grayish-cyan;
  border: 2px solid transparent;
}
input[type="number"]:focus {
  border-color: $strong-cyan;
}
.input {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 5px;
}
.tip-selector {
  &__tips {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    input[type="radio"] {
      opacity: 0;
      position: fixed;
      width: 0;
    }
    label {
      cursor: pointer;
      background-color: $very-dark-cyan;
      color: $white;
      font-weight: 700;
      width: calc(100% - 30px);
      height: calc(100% - 20px);
      min-height: 36px;
      font-size: 24px;
      padding: 10px 15px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    input[type="radio"]:checked + label {
      background-color: $strong-cyan;
      color: $very-dark-cyan;
    }
  }
}

.person-selector {
  &__info {
    display: grid;
    grid-template-columns: 10fr 9fr;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    &__error {
      text-align: right;
      color: crimson;
      display: none;
    }
  }
  &.error &__info__error {
    display: block;
  }
  &.error input {
    border: 2px solid rgba(220, 20, 60, 0.795);
  }
}
.result {
  background-color: $very-dark-cyan;
  border-radius: 15px;
  padding: 40px 25px 25px;
  color: $white;
  justify-content: space-between;
  gap: 30px;
  h3 {
    font-size: 13px;
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .amount {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
      .name {
        display: flex;
        flex-direction: column;
        gap: 7px;
      }
      h1 {
        color: $strong-cyan;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 3px;
      }
    }
  }
  button {
    all: unset;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: $strong-cyan;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: $very-dark-cyan;
    &:disabled {
      background-color: $darker-grayish-cyan;
    }
  }
}

@media (min-width: 768px) {
  header {
    padding: 7% 0 40px;
  }
  main {
    grid-template-columns: 1fr 1fr;
    width: 80%;
    max-width: 700px;
    margin: auto;
  }
  input[type="number"] {
    cursor: pointer;
  }
  .tip-selector {
    &__tips {
      grid-template-columns: 1fr 1fr;
      label:hover {
        background-color: $light-grayish-cyan;
        color: $very-dark-cyan;
      }
      input[type="number"] {
        padding-left: 15px;
        width: calc(100% - 30px);
      }
    }
  }
  .result {
    button {
      &:disabled {
        background-color: $darker-grayish-cyan;
        &:hover {
          cursor: pointer;
          background-color: $darker-grayish-cyan;
        }
      }
      &:hover {
        background-color: $lighter-grayish-cyan;
        cursor: pointer;
      }
    }
    .info {
      .amount {
        h1 {
          font-size: 40px;
        }
      }
    }
  }
}

@media (min-width: 1100px) {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  body {
    font-size: 18px;
  }
  header {
    padding: 5% 0 30px;
  }
  main {
    max-width: 900px;
  }
  .tip-selector {
    &__tips {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  .result {
    .info {
      .amount {
        h1 {
          font-size: 50px;
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  header {
    padding: 10% 0 70px;
  }
  .result {
    .info {
      .amount {
        h1 {
          font-size: 55px;
        }
      }
    }
  }
}
